

p {
    display: block;
    margin-bottom: -16px;
}


th {
    width: 50%
}

.airport-detail {
    display: block;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 20px lightgray;
    padding: 10px 20px 20px 20px;
    margin: 50px 0px;
    height: auto;
    
}



label {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: -3px;

}

.table {
    border-bottom: 1px solid rgb(230, 229, 229);
}

img {
    height: 90%;
    width: 100%;
    
}

.detail-box {
    border: 1px solid rgb(241, 241, 241);
    border-radius: 10px;
    padding:  10px 10px;
}

.direction {
    display: inline-block;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(0, 0, 39);
    margin-left: 25px;
}