<div class="fullscreen-video-wrap">
        <video src="https://cdn-b-east.streamable.com/video/mp4/oi3l5.mp4?token=2Px4ey5YS2_l87BdFLl0PA&expires=1567807620"
            autoplay="True" loop="True">
        </video>
        <!-- https://streamable.com/oi3l5 -->
    </div>
    
    
    <div class="col align-self-center">
        <img style="width: 200px; height: 200px; margin-top: 180px;" src="../assets/image/logofront.png"
            alt="Italian Trulli">
        <div style="margin: 50px 150px" class="search-bar">
            <form (submit)="_postSearch()" class="example-form">
    
                <mat-form-field class="example-full-width">
    
                    <input type="text" aria-label="Number" matInput placeholder="Search for a airports"
                        [(ngModel)]="searchResult" [matAutocomplete]="auto" [formControl]="control"
                        (keyup.enter)="chooseFirstOption()">
    
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let airports of filteredAirports | async" [value]="airports.name">
                            {{airports.name}}
                        </mat-option>
                    </mat-autocomplete>
    
                </mat-form-field>
                <img style="margin-top: 5px; width: 40px; height: 40px;"
                    src="https://img.icons8.com/cotton/64/000000/search--v5.png">
            </form>
        </div>
    </div>
    <div style="margin-top: 300px" class="col align-self-center header-content">
        <app-result *ngIf="airport_id" [airportid]="airport_id"></app-result>
    </div>