.fullscreen-video-wrap{
    position: absolute;
    top: 60px;
    left:0;
    width:101%;
    height:700px;
    overflow:hidden;
}

.fullscreen-video-wrap video{
    position: absolute;
    min-height:200px;
    min-width:100%;
}

.navbar-collapse .collapse .show {
    position: static;
}

.navbar-nav {
    position: static;
}