<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style=" background-color: #ffffff;">
  <a class="navbar-brand" href="#">
    <img src="/assets/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Picnic Day
  </a>
  <div class="navbar-nav ml-auto mt-2 mt-lg-0">
    <a class="nav-item nav-link" href="#">Mission</a>
  </div>


</nav>
<div class="fullscreen-video-wrap">
  <video src="/assets/video.mp4" autoplay="True" loop="True" muted="True" >
  </video>
  <!-- https://streamable.com/oi3l5 -->
</div>


<div class="container">
  <app-search></app-search>
</div>